<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pms.api.dr.service.DrMapper">

    <!-- 수요관리사업자 아이디 가져오기 -->
    <select id="selectDrBusinessId" resultType="java.lang.String">

        SELECT DRBUSINESSID AS drBusinessId
        FROM t_config
                 LIMIT 1

    </select>
    <!-- 등록된 DR 정보 가져오기 -->
    <select id="selectDrBase" parameterType="java.lang.String" resultType="DrBaseVO">

        SELECT DRBUSINESSID AS drBusinessId
             , DRVENID AS drVenId
             , DRREGISTRATIONID AS drRegistrationId
        FROM t_config
        WHERE DRBUSINESSID = #{drBusinessId}

    </select>

    <!-- VEN 아이디, DR 등록 아이디 등록 -->
    <update id="createPartyRegistration" parameterType="DrBaseVO">
        UPDATE t_config
        SET DRVENID = #{drVenId}
            , DRREGISTRATIONID = #{drRegistrationId}
        WHERE DRBUSINESSID = #{drBusinessId}
    </update>

    <!-- VEN 아이디, DR 등록 아이디 해제 -->
    <update id="cancelPartyRegistration" parameterType="java.lang.String">
        UPDATE t_config
        SET DRVENID = ''
          , DRREGISTRATIONID = ''
        WHERE DRBUSINESSID = #{drBusinessId}
    </update>

    <!-- 레포트 정보 삭제 -->
    <delete id="deleteReportList">
        truncate tb_dr_report_api
    </delete>

    <!-- 레포트 정보 등록 -->
    <insert id="insertReportList" parameterType="java.util.List">

        INSERT INTO tb_dr_report_api (
        dr_business_id
        , kepco_cstmr_no
        , report_reqst_id
        , reg_dt
        , report_unit
        , report_cycle
        , report_start_dt
        , report_cntnc_pd
        )
        VALUES
        <foreach collection="list" item="item" separator=" , ">
            (
            '${item.drBusinessId}'
            , '${item.kepcoCstmrNo}'
            , '${item.reportReqstId}'
            , NOW()
            , '${item.reportUnit}'
            , '${item.reportCycle}'
            , '${item.reportStartDt}'
            , '${item.reportCntncPd}'
            )
        </foreach>

    </insert>

    <!-- DR 참여중인 모든 한전고객번호 가져오기 -->
    <select id="selectRId" resultType="java.lang.String">

        SELECT kepco_cstmr_no
        FROM (
              SELECT s.supler_idx     AS idx
                   , s.kepco_cstmr_no AS kepco_cstmr_no
              FROM tb_supler s

              UNION

              SELECT c.cnsmr_idx      AS idx
                   , c.kepco_cstmr_no AS kepco_cstmr_no
              FROM tb_cnsmr c) a
        WHERE a.idx IN (SELECT a.idx
                        FROM (SELECT CASE
                                         WHEN x = 1 THEN supler_idx
                                         WHEN x = 2 THEN cnsmr_idx
                                     END idx
                              FROM (
                                        (SELECT supler_idx
                                              , cnsmr_idx
                                         FROM tb_ctrt
                                         WHERE ctrt_idx IN (SELECT ctrt_idx
                                                            FROM tb_dr_ctrt)
                                         AND del_yn = 'N'
                                         AND DATE_FORMAT(NOW(), '%Y-%m-%d') <![CDATA[>=]]> ctrt_start_date
                                         AND DATE_FORMAT(NOW(), '%Y-%m-%d') <![CDATA[<=]]> ctrt_end_date) a
                                        ,
                                        (SELECT 1 AS x
                                         UNION ALL
                                         SELECT 2 AS x) b
                                    )
                             ) a
                        WHERE a.idx != ''
                       )
        ORDER BY kepco_cstmr_no
    </select>

    <!-- DR Event 등록/수정 -->
    <insert id="updateDrEvent" parameterType="DrEventVO" >

        INSERT INTO tb_dr_issue_api (
                                     reg_dt
                                   , reg_id
                                   , issue_date
                                   , issue_hhmm
                                   , end_hhmm
                                   , cntnc_hh
                                   , flfl_qty
                                   , kpx_dr_rsc_id
                                   , event_id
                                   , event_sttus_cd
                                   , uid
        )
        VALUES (
                NOW()
                , 'admin'
                , #{issueDate}
                , #{issueHhmm}
                , #{endHhmm}
                , #{cntncHh}
                , #{value}
                , #{kpxDrRscId}
                , #{eventId}
                , #{eventSttusCd}
                , #{uid}
               )
        ON DUPLICATE KEY UPDATE
            reg_dt = NOW()
            , event_sttus_cd = #{eventSttusCd}
            , issue_date = #{issueDate}
            , issue_hhmm = #{issueHhmm}
            , end_hhmm = #{endHhmm}
            , cntnc_hh = #{cntncHh}
            , flfl_qty = #{value}
            , kpx_dr_rsc_id = #{kpxDrRscId}
            , uid = #{uid}

    </insert>

    <!-- 현재 시간에 가장 근접한 DR Event 시작 시간과의 차이 -->
    <select id="selectEventTimeGap" resultType="java.lang.Integer">

        SELECT IFNULL(MIN(GAP), 0) GAP
        FROM (
              SELECT ABS((UNIX_TIMESTAMP(NOW()) - UNIX_TIMESTAMP(A.selectedDate))) GAP
              FROM (
                    SELECT STR_TO_DATE(concat(issue_date, ' ', STR_TO_DATE(issue_hhmm, '%H%i')), '%Y-%m-%d %H:%i') as selectedDate
                    FROM tb_dr_issue_api
                   ) A
             ) T

    </select>

</mapper>