<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pms.api.kepcoAmi.service.KepcoAmiMapper">
    <!-- EDSM에 등록된 AMI중, DB에도 저장된 값 찾기 -->
    <select id="selectRegisterAmi" parameterType="HashMap" resultType="KepcoAmiVO">
        SELECT a.ami_idx amiIdx,
               a.mid     meterNo,
               b.custNo  custNo
        FROM tb_ami a,
             (
        <foreach collection="list" index="index" item="item" separator="UNION ALL">
            SELECT #{item.meterNo} AS meterNo , #{item.custNo} AS custNo
        </foreach>
             ) b
        WHERE mid IN (
        <foreach collection="list" index="index" item="item" separator=",">
            #{item.meterNo}
        </foreach>
        )
        AND a.mid = b.meterNo
    </select>

    <!-- 소비 데이터 등록 미완료된 고객 번호 조회 -->
    <select id="selectCallApiList" parameterType="HashMap" resultType="KepcoAmiVO">
        SELECT
            a.kepco_cstmr_no                                                         custNo,
            a.ami_idx                                                                amiIdx,
            a.data_request_dt                                                        dataRequestDt,
            IF(a.request_success_dt IS NULL,
               DATE_FORMAT(b.reg_dt,'%Y%m%d'),
               DATE_FORMAT(DATE_ADD(a.request_success_dt, INTERVAL 1 DAY),'%Y%m%d')) requestSuccessDt
        FROM tb_kepco_api_result a,
             tb_cnsmr b
        WHERE a.kepco_cstmr_no = b.kepco_cstmr_no
        AND   a.del_yn = 'N'
        AND (  a.request_success_dt != a.data_request_dt
            OR
              a.request_success_dt IS NULL
            )
        AND a.kepco_cstmr_no IN (
        <foreach collection="list" index="index" item="item" separator=",">
            #{item.custNo}
        </foreach>
        )
    </select>

    <!-- 한전 API 응답 결과 등록 -->
    <insert id="insertApiResultList" parameterType="KepcoAmiVO">
        INSERT INTO tb_kepco_api_result(kepco_cstmr_no, ami_idx, data_request_dt, request_success_dt)
        SELECT * FROM (
        <foreach collection="list" index="index" item="item" separator="UNION ALL">
            (
            SELECT
                #{item.custNo} AS kepcoCstmrNo,
                #{item.amiIdx} AS amiIdx,
                #{item.meteringDate} AS dataRequestDt,
                #{item.requestSuccessDt} AS requestSuccessDt
            )
        </foreach>
        ) AS A
        ON DUPLICATE KEY UPDATE
        data_request_dt = IF(dataRequestDt IS NULL, data_request_dt, dataRequestDt),
        request_success_dt = IF(requestSuccessDt IS NULL, request_success_dt, requestSuccessDt)
    </insert>

    <!-- 한전 API 결과 테이블 단건 업데이트 -->
    <update id="updateSingleApiResult" parameterType="KepcoAmiVO">
        UPDATE tb_kepco_api_result
        SET request_success_dt = #{requestSuccessDt}
        WHERE kepco_cstmr_no = #{custNo}
        AND ami_idx = #{amiIdx}
    </update>

    <!-- 한전 AMI 15분 데이터 등록 -->
    <insert id="insertAmi15MinuteData" parameterType="KepcoAmiVO">
        INSERT INTO tb_kepco_15m(
                                    metering_date,
                                    hhmm,
                                    ami_idx,
                                    use_type,
                                    reg_dt,
                                    mid,
                                    kepco_cstmr_no,
                                    metering_val,
                                    accmlt_metering_val,
                                    api_call_result,
                                    error_response_msg,
                                    mod_dt
                                 )
        SELECT *
        FROM (
        <foreach collection="list" index="index" item="item" separator="UNION ALL">
            ( SELECT
                #{item.meteringDate} AS meteringDate,
                #{item.meteringTime} AS meteringTime,
                #{item.amiIdx}       AS amiIdx,
                '1',
                sysdate(),
                #{item.meterNo},
                #{item.custNo},
                #{item.meteringVal} AS meteringVal,
                <choose>
                    <when test="item.accmltMeteringVal != null and item.accmltMeteringVal != ''">
                        #{item.accmltMeteringVal} AS accmltMeteringVal,
                    </when>
                    <otherwise>
                        IFNULL((
                            SELECT (
                                SELECT accmlt_metering_val
                                FROM tb_kepco_15m
                                WHERE 1=1
                                AND ami_idx = #{item.amiIdx}
                                AND use_type = '1'
                                AND metering_date = (
                                    SELECT MAX(metering_date) FROM tb_kepco_15m
                                    WHERE 1=1
                                    AND ami_idx = #{item.amiIdx}
                                    AND use_type = '1'
                                    AND metering_date <![CDATA[ <= ]]> #{item.meteringDate}
                                )
                            AND hhmm = (
                                SELECT MAX(hhmm)
                                FROM tb_kepco_15m
                                WHERE 1=1
                                AND ami_idx = #{item.amiIdx}
                                AND use_type = '1'
                                AND metering_date = (
                                    SELECT MAX(metering_date) FROM tb_kepco_15m
                                    WHERE 1=1
                                    AND ami_idx = #{item.amiIdx}
                                    AND use_type = '1'
                                    AND metering_date <![CDATA[ <= ]]> #{item.meteringDate}
                                    )
                                AND hhmm  <![CDATA[ < ]]>  #{item.meteringTime}
                                )
                            ))
                        , #{item.meteringVal}) AS accmltMeteringVal,
                    </otherwise>
                </choose>
                #{item.apiCallResult} AS apiCallResult,
                #{item.errorResponseMsg} AS errorResponseMsg,
                ( SELECT IF(metering_val IS NULL , sysdate(), mod_dt)
                  FROM   tb_kepco_15m
                  WHERE  1 = 1
                  AND use_type      = '1'
                  AND ami_idx       = #{item.amiIdx}
                  AND metering_date = #{item.meteringDate}
                  AND hhmm          = #{item.meteringTime}) AS modDt
            )
        </foreach>
        ) AS A

        ON DUPLICATE KEY UPDATE
        metering_val        = meteringVal,
        accmlt_metering_val = accmltMeteringVal,
        api_call_result     = apiCallResult,
        mod_dt              = modDt

    </insert>

    <!-- 한전 AMI 한시간 데이터 등록 -->
    <insert id="insertAmiHourData" parameterType="KepcoAmiVO">
        INSERT INTO tb_kepco_hour(
                metering_date,
                hh,
                ami_idx,
                use_type,
                reg_dt,
                mid,
                kepco_cstmr_no,
                metering_val,
                accmlt_metering_val
                )
            SELECT *
            FROM (
            <foreach collection="list" index="index" item="item" separator="UNION ALL">
                    (
                SELECT
                    #{item.meteringDate},
                <choose>
                <when test="item.meteringTime eq '2400'">
                    '24',
                </when>
                <otherwise>
                    LPAD(DATE_FORMAT(DATE_ADD(DATE_FORMAT(CONCAT(#{item.meteringDate}, #{item.meteringTime},'00'),'%Y%m%d%H%i%s'), INTERVAL -15 MINUTE),'%H') + 1, 2, '0'),
                </otherwise>
                </choose>
                    #{item.amiIdx},
                    '1',
                    sysdate(),
                    #{item.meterNo},
                    #{item.custNo},
                SUM(metering_val) AS meteringVal,
                <choose>
                <when test="item.accmltMeteringVal != null and item.accmltMeteringVal != ''">
                    #{item.accmltMeteringVal} AS accmltMeteringVal
                </when>
                <otherwise>
                    MAX(accmlt_metering_val) AS accmltMeteringVal
                </otherwise>
                </choose>
                    FROM tb_kepco_15m
                    WHERE 1 = 1
                    AND use_type = '1'
                    AND mid = #{item.meterNo}
                    AND metering_date = #{item.meteringDate}
                    AND hhmm  <![CDATA[ <= ]]>  #{item.meteringTime}
                <choose>
                <when test="item.meteringTime eq '2400'">
                    AND hhmm  <![CDATA[ > ]]> '2300'
                </when>
                <otherwise>
                    AND hhmm  <![CDATA[ > ]]> CONCAT(DATE_FORMAT(DATE_ADD(DATE_FORMAT(CONCAT(#{item.meteringDate}, #{item.meteringTime},'00'),'%Y%m%d%H%i%s'), INTERVAL -15 MINUTE),'%H'),'00')
                </otherwise>
                </choose>
                  )
            </foreach>
            ) AS A

        ON DUPLICATE KEY UPDATE
        metering_val = meteringVal,
        accmlt_metering_val = accmltMeteringVal
    </insert>

    <!-- 한전 AMI 하루 데이터 등록 -->
    <insert id="insertAmiDayData" parameterType="KepcoAmiVO">
        INSERT INTO tb_kepco_day(
        metering_date,
        ami_idx,
        use_type,
        reg_dt,
        mid,
        kepco_cstmr_no,
        metering_val,
        accmlt_metering_val
        )
        SELECT *
        FROM (
            SELECT
                #{meteringDate},
                #{amiIdx},
                '1',
                sysdate(),
                #{meterNo},
                #{custNo},
                SUM(metering_val) AS meteringVal,
                MAX(accmlt_metering_val) AS accmltMeteringVal

            FROM tb_kepco_hour
            WHERE 1 = 1
            AND use_type = '1'
            AND mid = #{meterNo}
            AND metering_date = #{meteringDate}
        ) AS A

        ON DUPLICATE KEY UPDATE
        metering_val = meteringVal,
        accmlt_metering_val = accmltMeteringVal
    </insert>
    <!-- 한전 AMI 15분 에러 데이터 등록 -->
    <insert id="insertAmi15MinuteErrorData" parameterType="KepcoAmiVO">
        INSERT INTO tb_kepco_15m(
        metering_date,
        hhmm,
        ami_idx,
        use_type,
        reg_dt,
        mid,
        kepco_cstmr_no,
        metering_val,
        accmlt_metering_val,
        api_call_result,
        error_response_msg
        )
        SELECT *
        FROM (
        <foreach collection="list" index="index" item="item" separator="UNION ALL">
            ( SELECT
            #{item.meteringDate},
            #{item.meteringTime},
            #{item.amiIdx},
            '1',
            sysdate(),
            #{item.meterNo},
            #{item.custNo},
            #{item.meteringVal} AS meteringVal,
            ( SELECT MAX(accmlt_metering_val)
              FROM tb_kepco_15m
              WHERE ami_idx       =  #{item.amiIdx}
              AND use_type        = '1'
              AND metering_date   = (SELECT MAX(metering_date) WHERE ami_idx = #{item.amiIdx} AND metering_date <![CDATA[ < ]]> #{item.meteringDate})) AS accmltMeteringVal,
            #{item.apiCallResult} AS apiCallResult,
            #{item.errorResponseMsg} AS errorResponseMsg
            )
        </foreach>
        ) AS A

        ON DUPLICATE KEY UPDATE
        metering_val = meteringVal,
        accmlt_metering_val = accmltMeteringVal,
        api_call_result = apiCallResult,
        error_response_msg = errorResponseMsg

    </insert>

    <!-- 한전 AMI 15분 누적 데이터 교정(00시 15분 ~ 45분) -->
    <update id="updateCorrectDayStartAccmltMeteringVal" parameterType="HashMap">
        INSERT INTO tb_kepco_15m(metering_date, hhmm, mid, use_type, accmlt_metering_val)
        SELECT *
        FROM (
                SELECT #{meteringDate},
                        b.hhmm,
                        #{meterNo},
                        '1',
                        nextAccmltMeteringVal - (
                            SELECT SUM(metering_val)
                            FROM tb_kepco_15m
                            WHERE ami_idx = #{amiIdx}
                            AND use_type = '1'
                            AND metering_date = #{meteringDate}
                            AND hhmm <![CDATA[ > ]]> b.hhmm
                            AND hhmm <![CDATA[ <= ]]> b.nextHHmm
                        ) accmltMeteringVal
                FROM (
                    SELECT a.*
                    , ( SELECT hhmm
                        FROM tb_kepco_15m
                        WHERE ami_idx = #{amiIdx}
                        AND use_type = '1'
                        AND metering_date = #{meteringDate}
                        AND hhmm <![CDATA[ > ]]> a.hhmm
                        AND accmlt_metering_val != 0
                        LIMIT 1
                        ) nextHHmm
                    , (
                        SELECT accmlt_metering_val
                        FROM tb_kepco_15m
                        WHERE ami_idx = #{amiIdx}
                        AND use_type = '1'
                        AND metering_date = #{meteringDate}
                        AND hhmm <![CDATA[ > ]]> a.hhmm
                        AND accmlt_metering_val != 0
                        LIMIT 1
                        ) nextAccmltMeteringVal
                    FROM (
                    SELECT hhmm,
                           metering_val
                    FROM tb_kepco_15m
                    WHERE ami_idx = #{amiIdx}
                    AND use_type = '1'
                    AND metering_date = #{meteringDate}
                    AND accmlt_metering_val = 0
                ) a
            ) b
        ) result
        ON DUPLICATE KEY UPDATE
        accmlt_metering_val = accmltMeteringVal

    </update>

    <!-- 한전 AMI 15분 누적 데이터 등록 (고압용) -->
    <insert id="insertHighAmi15MinuteAccmltData" parameterType="KepcoAmiVO">
        INSERT INTO tb_kepco_15m(metering_date, hhmm, mid, use_type, ami_idx, accmlt_metering_val)
        SELECT * FROM (
            SELECT  LEFT(date, 8)
                  , MID(date, 9, 4)
                  , #{meterNo}
                  , '1'
                  , #{amiIdx}
                  , (
                    SELECT SUM(metering_val) accmltMeteringVal
                    FROM tb_kepco_15m
                    WHERE 1        = 1
                    AND   use_type = '1'
                    AND   ami_idx  = #{amiIdx}
                    AND   mid      = #{meterNo}
                    AND   CONCAT(metering_date, hhmm)   <![CDATA[ <= ]]>  a.date
                    ) accmltMeteringVal
            FROM (
            SELECT CONCAT(metering_date, hhmm) date
            , hhmm
            FROM tb_kepco_15m
            WHERE 1 = 1
            AND   use_type       = '1'
            AND   ami_idx        = #{amiIdx}
            AND   mid            = #{meterNo}
            AND   metering_date  = #{meteringDate}
            ) a
        ) result
        ON DUPLICATE KEY UPDATE
        accmlt_metering_val = accmltMeteringVal

    </insert>

    <!-- 한전 AMI 한시간 데이터 등록 (고압용)-->
    <insert id="insertHighAmiHourData" parameterType="KepcoAmiVO">
        INSERT INTO tb_kepco_hour(
            metering_date,
            hh,
            ami_idx,
            use_type,
            mid,
            kepco_cstmr_no,
            metering_val,
            accmlt_metering_val
            )
        SELECT *
        FROM (
            SELECT    #{meteringDate}
                    , a.hh
                    , #{amiIdx}
                    , '1'
                    , #{meterNo}
                    , #{custNo}
                    , a.meteringVal meteringVal
                    , (
                    SELECT SUM(metering_val) accmltMeteringVal
                    FROM   tb_kepco_15m
                    WHERE 1         = 1
                    AND   use_type  = '1'
                    AND   ami_idx   = #{amiIdx}
                    AND   mid       = #{meterNo}
                    AND   CONCAT(metering_date, hhmm) <![CDATA[ <= ]]> a.date
                    )  accmltMeteringVal
            FROM (
                SELECT     hh
                         , MAX(date)         date
                         , SUM(metering_val) meteringVal
                FROM (
                    SELECT metering_val,
                           IF(hhmm = '2400','24',LPAD(DATE_FORMAT(DATE_ADD(DATE_FORMAT(CONCAT(metering_date, hhmm, '00'),'%Y%m%d%H%i%s'), INTERVAL -15 MINUTE),'%H') + 1, 2, '0')) hh,
                           CONCAT(metering_date, hhmm) date
                    FROM tb_kepco_15m
                    WHERE 1 = 1
                    AND use_type = '1'
                    AND ami_idx  = #{amiIdx}
                    AND mid      = #{meterNo}
                    AND metering_date  = #{meteringDate}
                ) b
                GROUP BY hh
            ) a
        ) result
        ON DUPLICATE KEY UPDATE
          metering_val          = meteringVal
        , accmlt_metering_val   = accmltMeteringVal

    </insert>
    <!-- 한전 AMI 하루 데이터 등록(고압) -->
    <insert id="insertHighAmiDayData" parameterType="KepcoAmiVO">
        INSERT INTO tb_kepco_day(
            metering_date
          , mid
          , use_type
          , reg_dt
          , ami_idx
          , kepco_cstmr_no
          , metering_val
          , accmlt_metering_val
          )
        SELECT *
        FROM (
            SELECT
                #{meteringDate},
                #{meterNo},
                '1',
                sysdate(),
                #{amiIdx},
                #{custNo},
                (
                  SELECT SUM(metering_val)
                  FROM tb_kepco_hour
                  WHERE use_type    = '1'
                  AND ami_idx       =  #{amiIdx}
                  AND mid           = #{meterNo}
                  AND metering_date = #{meteringDate}
                ) meteringVal,
                (
                  SELECT SUM(metering_val)
                  FROM tb_kepco_hour
                  WHERE use_type    = '1'
                  AND ami_idx       =  #{amiIdx}
                  AND mid           = #{meterNo}
                  AND metering_date <![CDATA[ <= ]]> #{meteringDate}
                ) accmltMeteringVal
            ) result
        ON DUPLICATE KEY UPDATE
          metering_val        = meteringVal
        , accmlt_metering_val = accmltMeteringVal
    </insert>
    <!-- 누락됬다 새로 들어온 데이터 조회 -->
    <select id="selectNewData" parameterType="HashMap" resultType="CblManageVO">
        SELECT result.metering_date meteringDate
             , result.startHhmm     startHhmm
             , MAX(result.hhmm)     endHhmm
             , #{amiIdx}            amiIdx
        FROM (
            SELECT @startHhmm := IF(noDifferent != 0, '', IF(@startHhmm != '', @startHhmm, hhmm)) startHhmm, c.*
            FROM (
                SELECT metering_date
                     , a.hhmm                                         hhmm
                     , a.metering_val                                 originalValue
                     , b.metering_val                                 contrastValue
                     , a.metering_val = IFNULL(b.metering_val,'null') noDifferent
                FROM (
                    SELECT metering_date
                         , hhmm
                         , IFNULL(metering_val, 'null') metering_val
                    FROM tb_kepco_15m
                    WHERE metering_date = #{meteringDate}
                    AND mid = #{meterNo}
                    AND use_type = '1'
                    ) a LEFT OUTER JOIN
                    (
        <foreach collection="list" index="index" item="item" separator="UNION ALL">
                    SELECT #{item.meteringTime} hhmm, CAST(#{item.meteringVal} AS DECIMAL(10,3)) metering_val
        </foreach>
                     ) b
                 ON a.hhmm = b.hhmm
                 ) c,
                 (SELECT @startHhmm := '') x
        ) result
        WHERE startHHmm != ''
        GROUP BY startHhmm
    </select>
    <!-- 누락됬다 새로 들어온 데이터 CBL 계산 테이블에 insert -->
    <insert id="insertRefreshDataToCblTable" parameterType="CblManageVO">
        INSERT INTO tb_ami_data_refill(ami_idx, start_date, start_hhmm, end_date, end_hhmm, reg_dt)
        VALUES
        <foreach collection="list" index="index" item="item" separator=",">
            (#{item.amiIdx}, #{item.meteringDate} , #{item.startHhmm} , #{item.meteringDate} , #{item.endHhmm} , sysdate())
        </foreach>
    </insert>
</mapper>